root {
    --background-color:  FIXME;
    --color: FIXME;
    --font-family: Arial, sans-serif;

    --main-margin-left: clamp(1rem, 2.5dvw, 2rem);
    --main-margin-right: clamp(1rem, 2.5dvw, 2rem);
}
* {
    margin: 0;
    padding: 0;
    min-width: 0;
    font-family: inherit;
    white-space: pre-wrap;
}
a {
    text-decoration: none;
}
html {
    height: 100dvh;
    width: 100dvw;
    scroll-behavior: smooth;
}
body {
    background: var(--background);
    color: var(--color);
    font-family: var(--font-family);
}
header {}
main {
    display: grid;
    margin-left: var(--main-margin-left);
    margin-right: var(--main-margin-right);
}
footer {}
